<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  	<add key="MasterKey" value="9bb82a2d-9f76-4329-99f4-c121530f2cdd">
  </appSettings>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.6;provider connection string='Data Source=|DataDirectory|\Database.sdf" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>